name: Build and Publish Image
on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build_publish_gitlab:
    name: "Build and Publish Image (Gitlab)"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build and Publish
        uses: mwcaisse/gha-common/actions/build_and_push_image@master
        with:
          registry: registry.gitlab.com
          username: ${{ vars.GITLAB_USERNAME }}
          password: ${{ secrets.GITLAB_TOKEN }}
          tags: |
            registry.gitlab.com/mwcaisse/application-images/coder-chat:latest
            registry.gitlab.com/mwcaisse/application-images/coder-chat:${{ github.sha }}

    # TODO: Combine this with the job above? (at some point)
    build_publish_github:
      name: "Build and Publish image (Github)"
      runs-on: ubuntu-latest
      permissions:
        contents: read
        packages: write
        id-token: write
      steps:
        - name: Checkout master
          uses: actions/checkout@v6

        - name: Build and Publish
          uses: mwcaisse/gha-common/actions/build_and_push_image@master
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
            tags: |
              ghcr.io/${{ github.repository }}:latest
              ghcr.io/${{ github.repository }}:${{ github.sha }}