name: Frontend List & Format
on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  format_check:
    name: "Check Frontend Formatting"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 25
          cache: "yarn"
          cache-dependency-path: frontend/yarn.lock

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Format Check
        run: yarn format:check

  linter_check:
    name: "Frontend Linting"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 25
          cache: "yarn"
          cache-dependency-path: frontend/yarn.lock

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Lint
        run: yarn lint

